{% extends 'base.html' %}
{% block content %}

  <div class="container">

    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="rounded-box mt-0">
          <h2 class="my-2">موجودی جدید</h2>
            <form class="w-95 flex-column" method="POST">
              {% csrf_token %}

              {% for field in form %}
                  <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="mb-2">{{ field.label }}</label>
                      {% if field.label == 'نام محصول' or field.label == 'نام انبار' %}
                          <div class="mb-2">{{ field }}</div>
                      {% else %}
                        <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control mb-2" value="">
                      {% endif %}
                  </div>
              {% endfor %}

{#            {{ form }}#}

              <button type="submit" class="btn btn-info w-100 mt-3">ذخیره</button>
            </form>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}