{% extends 'base.html' %}
{% block content %}

  <div class="container">

    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="rounded-box p-3 mt-0">
            <div class="d-flex">
                <h2 class="my-2">انبار ها</h2> &nbsp;
                <a href="{% url 'inventory_new' %}" class="mr-2">
                    <i class="fa-solid fa-plus text-info"></i>
                </a>
            </div>
        </div>

          <div class="rounded-box">
              <table class="table table-dark table-striped mb-0">
                    <thead>
                        <tr class="w-100">
                            <th class="fs-7 text-center text-light-blue">نام انبار</th>
                            <th class="fs-7 text-center text-light-blue">نام شهر</th>
                            <th class="fs-7 text-center text-light-blue">حذف</th>
                        </tr>
                  </thead>

                  <tbody>
                  {% for inventory in object_list %}
                      <tr>
                      <td class="text-center">{{ inventory.name }}</td>
                      <td class="text-center">{{ inventory.city }}</td>
                      <td class="w-25 text-center">
                          <a href="{% url 'inventory_delete' inventory.pk %}" class="text-danger">
                              <i class="fa-solid fa-trash-can"></i>
                          </a>
                      </td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
    </div>

  </div>

{% endblock content %}